/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&subset=latin&display=swap");

body {
  font-family: Jost, Arial;
  margin: 0;
  /* background-color:rgb(245, 252, 247); */
  background-image: linear-gradient(to top left, rgb(205, 243, 205), white);
  background-attachment: fixed;
}

.header-bottom {
    /*border:2px solid black;*/
    width:15%;
    height:40px;
    text-align:center;
    background-color:rgb(100, 130, 96);
    color:white;
	transition:0.2s;
    cursor:pointer;
}

.header-bottom:hover {
    /*border:2px solid black;*/
    width:15%;
    height:40px;
    text-align:center;
    background-color:rgb(121, 173, 114);
    color:white;
    transition:0.2s;
    cursor:normal;
}

.header-table {
    border-collapse:collapse;
    table-layout:fixed;
}

.everything {
	margin: 10px
}

.h-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e361c;
}

.h-li {
    float: left;
}

.h-li .h-a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.h-li-icon {
	padding: 0px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 15px;
    float: left;
}

.h-li .h-a:hover:not(.active) {
    background-color: #315c2e;
}

.active {
    background-color: #4ea348;
}

.fade-in-everything {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

.geo-container {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    column-gap: 5px;
}

body {
    /* font-family: "Raleway"; */
    /* font-family: "Jost", "Arial"; */
    font-family: Roboto, Arial;
    font-weight: 400;
}

area, button:hover {
    cursor: pointer;
}

footer {
    text-align: center;
}

.gg-button {
    border: 3px solid #6eaa9e;
    color: black;
    background-color: #b7e097;
    padding: 5px;
    margin: 3px;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: darkgreen transparent darkgreen transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.centered-spinner-div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.5em;
    margin-top: -2.5em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}