body {
  font-family: arial;
  margin: 0;
}

.header-bottom {
    /*border:2px solid black;*/
    width:15%;
    height:40px;
    text-align:center;
    background-color:rgb(100, 130, 96);
    color:white;
	transition:0.2s;
    cursor:pointer;
}

.header-bottom:hover {
    /*border:2px solid black;*/
    width:15%;
    height:40px;
    text-align:center;
    background-color:rgb(121, 173, 114);
    color:white;
	transition:0.2s;
    cursor:normal;
}

.header-table {
    border-collapse:collapse;
    table-layout:fixed;
}

.h-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.h-li {
float: left;
}

.h-li .h-a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.h-li .h-a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}


.everything {
	margin: 5px;
}