.centered {
  margin: auto;
  width: 20%;
  padding: 0px;
}

.header-text {
    padding: 0px;
/*   font-size: medium; */
    color:white;
    text-align:center;
	text-decoration:none;
}

body {
  font-family: arial;
}

.header-bottom {
    /*border:2px solid black;*/
    width:15%;
    height:40px;
    text-align:center;
    background-color:rgb(100, 130, 96);
    color:white;
	transition:0.5s;
}

.header-bottom:hover {
    /*border:2px solid black;*/
    width:15%;
    height:40px;
    text-align:center;
    background-color:rgb(121, 173, 114);
    color:white;
	transition:0.5s;
}

.header-top {
    /*border:2px solid black;*/
    width:15%;
    background-color:rgb(145, 219, 166);
}
.header-table {
    border-collapse:collapse;
    table-layout:fixed;
}
